*{
	margin:0;
	padding:0;
	text-align:center;
	font-family:"宋体", "Arial Unicode MS", sans-serif;
}
#top{
	width:100%;
	height:43px;
	background:url("top_background.gif") repeat-x;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
}
#header{
	width:100%;
	background:url("head_background.gif") repeat-x;
	height:91px;
	margin-top:43px;
}
#article{
	margin:0 auto 0 auto;
	position:relative;
	width:1024px;
	width:960px;
	padding-top:36px;
}
#left_nav{
	float:left;
	width:256px;
}
#left_nav h3{
	margin:0;
	padding:0;
	padding-top:20px;
	width:239px;
	height:69px;
	background:url("top_navbackground.gif") no-repeat;
	font-family:"微软雅黑", "宋体", sans-serif;
	font-size:19px;
	color:#fff;
}
#left_nav ul{
	padding:0;
	margin:0;
	background:url(center_navbackground.gif) repeat-y;
	width:239px;
	list-style:none;
	height:194px;
}
#left_nav li{
	padding-left:45px;
	text-align:left;
	width:150px;
	padding-bottom:8px;
}
#left_nav li a{
	font-size:16px;
	color:#949494;
	text-decoration:none;
}
#left_nav li a:hover{
	color:#000;
}
#left_nav li img{
	padding-left:10px;
	display:none;
}
#left_navfoot{
	width:239px;
	height:30px;
	background:url(foot_navbackground.gif) no-repeat;
}
#right_information{
	float:left;
	width:748px;
	width:684px;
	padding-left:20px;
	padding-top:5px;
	padding-bottom:43px;
}
#right_information h3{
	width:137px;
	height:31px;
	background:url(site.png) no-repeat 1% 2%;
	padding-top:0px;
	float:left;
	font-family:"黑体", "宋体", sans-serif;
}
#right_information table{
	float:right;
	font-size:13px;
	color:#5a5b5a;
}
#right_information table img{
	border:0;
}
#right_information table td{
	padding-left:9px;
	padding-right:9px;
}
#right_information table td a{
	color:#5a5b5a;
	text-decoration:none;
}
#right_information table td a:hover{
	text-decoration:underline;
}
#personal_information , #modify_information,#modify_password,#finished_projects��#unfinished_projects{
	clear:both;
	padding-top:30px;
}
#personal_information img{
	float:left;
	width:137px;
	height:157px;
	background:#000;
}
#personal_information div.center{
	float:left;
	padding-left:48px;
}
#personal_information div.message,#modify_information div.message,#modify_password div.message{
	padding-bottom:10px;
}
#personal_information div.message h2,#modify_information div.message h2,#modify_password div.message h2{
	border-bottom:#84b600 solid 2px;
	text-align:left;
	width:540px;
	margin-bottom:5px;
}
#personal_information div.message p,#modify_information div.message p,#modify_password div.message p{
	padding:3px 0px 3px 0px;
	text-align:left;
}
#modify_information div.center,#modify_password div.center,#finished_projects div.center,#unfinished_projects div.center{
	text-align:left;
	float:left;
	padding-bottom:20px;
}
#modify_information div.message p i{
	color:#F00;
	font-style:normal;
}
#modify_information div.message p input,#modify_password div.message p input{
	text-align:left;
}
#modify_information .button,#modify_password .button{
	background:url(save.png) repeat-x;
	width:51.51px;
	height:28px;
	border:0px;
	cursor:pointer;
	color:#f5f97f;
	font-size:14px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#finished_projects div.project,#unfinished_projects div.project{
	width:616px;
	border:#99c944 solid 2px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-box-shadow:2px 3px 4px #b4bea3;
	-webkit-box-shadow:2px 3px 4px #b4bea3;
	padding:25px;
	margin-bottom:20px;
	background:#fff;
}
#finished_projects div.project img,#unfinished_projects div.project img{
	width:119px;
	height:142px;
	float:left;
	background:#993;
}
#finished_projects div.project div.list,#unfinished_projects div.project div.list{
	padding-left:20px;
	float:left;
	text-align:left;
}
#finished_projects div.project div p,#unfinished_projects div.project div p{
	padding-bottom:20px;
	text-align:left;
}
#unfinished_projects div.project .button{
	background:url(week.png);
	width:87.5px;
	height:33.5px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:solid #608c03 1px;
	cursor:pointer;
}
#finished_projects div.project .clear,#unfinished_projects div.project .clear{
	clear:both;
}
#footer{
	clear:both;
	width:100%;
	height:43px;
	background:url("top_background.gif") repeat-x;
	position:fixed;
	bottom:0;
	left:0;
	z-index:100;
}